.card {
  padding: 0px 10px;
  margin-top: 15px;
}

header {
  width: 100%;
  height: 70px;
  background-color: dodgerblue;
  color: whitesmoke;
  text-align: center;
}

.sidenav {
  position: relative;
  right: 128%;
  background-color: dodgerblue;
  width: 300px;
  height: 1500px;
}

.sidebuttons {
  position: relative;
  top: 200px;
  left: 30%;
  width: 35%;
}

form {
  margin-top: 20px;
  margin-bottom: 15px;
}


